@font-face {
    font-family: "Lato Light";
    src: url("./assets/fonts/Lato-Light.ttf");
}

@font-face {
    font-family: "Lato Regular";
    src: url("./assets/fonts/Lato-Regular.ttf");
}

@font-face {
    font-family: "Lato Bold";
    src: url("./assets/fonts/Lato-Bold.ttf");
}

@font-face {
    font-family: "Lato Black";
    src: url("./assets/fonts/Lato-Black.ttf");
}


body {
    min-width: 1020px;
    margin: 0;
    padding: 0;
}
/* the navigation */
.wrapper {
    max-width: 1020px;
    padding: 0 40px;
    margin: 0 auto;
    box-sizing: border-box;
}

.header {
    background-color: #2d303a;
    height: 95px;
    justify-content: space-between;
    border-bottom: 5px solid #323746;
}

.header .wrapper {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
} 

 .logo-text {
    font-size: 25px;
    line-height: 25px;
    font-weight: bold;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: -0.7px;
    font-family: "Lato Bold";
}

.logo-text::after {
    content: "*";
    color: #f06c64;
} 

 .navigation {
    padding: 0;
    display: flex;
    list-style: none;
    font-size: 12px;
    line-height: 12px;
    font-weight: bold;
    padding-top: 8px;
    font-family: "Lato Bold";
} 

.nav-item {
    position: relative;
    height: 30px;
    margin-left: 28.67px;
    margin-top: 18px;
} 

 .nav-item a {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    height: 100%;
    font-family: "Lato Bold";
}

.nav-item:hover a {
    color: #f06c64;
}

.nav-item:not(:last-child)::after {
    content: ".";
    display: inline-block;
    position: absolute;
    right: -18px;
    top: -2px;
    color: #494e62;
}

/* the next section */

.engine {
    background-color: #f06c64;
    box-sizing: border-box;
    border-bottom: 6px solid #ea676b;
    position: relative;
}


.phone {
    background-repeat: no-repeat;
    position: relative;
    flex-shrink: 0;
}

.engine-phone-right {
    position: relative;
    left: 5px;
} 

.engine-phone-left {
    position: relative;
    left: -6px;
}


.engine .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 56px;
    padding-bottom: 59px;
}

.engine-arrow{
    width: 16px;
    height: 27px;
    background: url("./assets/img/arrowleft.svg") no-repeat;
    border: none;
    cursor: pointer;
    outline: none;
}

.iphone1 {
    background-image: url("./assets/img/iphone1.png");
    width: 240px;
    height: 483px;
}

.iphone2 {
    background-image: url("./assets/img/iphone2.png");
    width: 483px;
    height: 240px;
}

.phone .iphone-slider {
    position: absolute;
}

.iphone1 .iphone-slider {
    left: 14px;
    top: 65px;
}

.iphone2 .iphone-slider {
    left: 60px;
    top: 13px;
}

.engine-arrow:hover {
    opacity: 0.8;
}

.arrow-right {
    transform: rotate(180deg);
}

/* the next section-services*/
.services {
    background-color: #f2f2f2;
    color: #666d89;
    padding-bottom: 50px;
    box-sizing: border-box;
    border-bottom: 5px solid #ffffff;
    text-align: justify;
}

.services-title {
    font-size: 28px;
    line-height: 30px;
    padding-top: 62px;
    font-weight: 300;
    font-family: "Lato Black";
    text-align: justify;
    
}

.services-description {
    font-size: 18px;
    line-height: 30px;
    font-weight: 300;
    margin-top: 25px;
    color: #767e9e;
    height: 57px;
    font-family: "Lato light";
}

.service-cards {
    padding: 0;
    list-style: none;
    display: grid;
    row-gap: 20px;
    grid-template-columns: repeat(3, 300px);
    column-gap: 20px;
    padding-top: 47px;
}

.service-card {
    padding-left: 80px;
    height: 103px;
    position: relative;
    overflow: hidden;
}

.service-card-title {
    font-size: 18px;
    line-height: 18px;
    font-weight: 900;
    display: flex;
    flex-direction: column;
    padding-bottom: 7px;
    font-family: "Lato Black";
}

.service-card-description {
    font-size: 12px;
    line-height: 21.56px;
    color: #767e9e;
    text-align: justify;
    font-family: "Lato light";
}

.service-card-image-border {
    position: absolute;
    left: 0;
    top: 0;
    width: 59px;
    height: 59px;
    box-sizing: border-box;
    border-radius: 50%;
    border: 2px solid #666D89;
    display: flex;
    align-items: center;
    justify-content: center;
}